@use "../../styles/variables" as *;

#about {
    display: flex;
    flex-direction: column;
    gap: var(--space-800);

    @include big {
        flex-direction: row;
        align-items: center;
        gap: var(--layout-column-gutter);
    }

    .copy {
        @include big {
            flex: 1 1 754px;
        }
    }

    .values_hex {
        display: flex;
        justify-content: flex-end;

        @include big {
            flex: 1 1 378px;
        }
    }

    
}

#products {
    display: flex;
    flex-direction: column;
    gap: var(--space-800);

    @include big {
        gap: var(--space-1000);
    }
}

#contact {
    display: flex;
    flex-direction: column;
    gap: var(--space-800);

    background-color: var(--stone-300);

    @include big {
        gap: var(--space-1000);
    }

    .section-inner {
        // padding: var(--layout-section-padding) var(--layout-column-margin);
        margin: 0 auto;

        @include big {
            max-width: var(--max-width);
            // width: 100%;
        }
    }
}
