/* Navigation */

.navigation {
    background-color: var(--light);
    padding: 10px 60px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo-holder {
        img {
            width: 195.315px;
            height: 90.071px;
        }
    }

    nav {
        display: flex;
        gap: 50px;
        
        @media all and (width <= 800px) {
            display: none;
        }

        button.main-nav {
            color: var(--primary);
            /* FIXME: fix font size */
            font-size: 29px;
            font-weight: 600;
            line-height: 110%;
            padding: 10px 0;

            &::after {
                content: '';
                display: block;
                position: relative;

                height: 5px;
                width: 0px;
                transition: width 300ms ease-in-out;

                margin-top: 10px;
                background-color: var(--primary);
            }

            &:hover {
                cursor: pointer;
                &::after {
                    width: 100%;
                }
            }
        }
    }
}

/* ////// */

/* Footer */

footer {
    background: linear-gradient(90deg, #F2743B 76.5%, #C1501E 100%);

    display: flex;
    align-items: center;
    gap: 30px;

    @media all and (width <= 800px) {
        flex-direction: column;
    }

    .left-side {
        flex: 0 0 1000px; 
        /* FIXME: make responsive */
        padding: 60px;
        overflow: hidden;
        position: relative;

        @media all and (width <= 800px) {
            background-color: var(--light);
            padding: 60px 16px;
            flex: 1;
        }

        .bg-hex {
            width: 1194px;
            height: 1418px;
            /* FIXME: make responsive */

            clip-path: polygon(25% 0%, 68% 0%, 100% 50%, 68% 100%, 25% 100%, 0% 50%);
            background-color: var(--light);

            position: absolute;
            top: -415px;
            left: -140px;

            @media all and (width <= 800px) {
                display: none;
            }
        }

        .left-side-inner {
            position: relative;
            z-index: 2;
            width: 100%;

            .logo-holder {
                img {
                    /* FIXME: make responsive */
                    width: 477.061px;
                    height: 220px;

                    @media all and (width <= 800px) {
                        width: 100%;
                        height: auto;
                    }
                }
            }

            .footer-links {
                display: flex;
                gap: 40px;

                margin-top: 40px;

                @media all and (width <= 800px) {
                    flex-direction: column;
                    gap: 20px;
                }

                .link {
                    /* padding-right: 40px;
                    border-right: 2px solid var(--secondary-darker-40); */

                    &:last-of-type {
                        padding-right: 0;
                        border-right: none;
                    }

                    @media all and (width <= 800px) {
                        border-right: none;
                        text-align: center;
                    }

                    p {
                        font-family: Montserrat;
                        /* FIXME: fix font size */
                        font-size: 15px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 120%;
                    }
                }

                
            }
        }
    }

    .right-side {
        flex: 1;
        padding: 0 60px 0 0;
    }
}

/* ////// */

/* Hex Icon Buttons */

.hex-icon-btn {
    width: 100%;

    .hex-icon-btn-wrapper {

        &:hover {
            .hex-icon-btn-inner {
                
            }

            /* .hex-icon-btn-inner {
                width: 100%;
                clip-path: polygon(10% 0%, 90% 0%, 100% 50%, 90% 100%, 10% 100%, 0% 50%);

                &::before {
                    width: calc(100% - 8px);
                    clip-path: polygon(10% 0%, 90% 0%, 100% 50%, 90% 100%, 10% 100%, 0% 50%);
                }

                .hidden-text {
 
                }

                .img-holder {
                    width: 42px;
                }
            }  */
        }

        
        .hex-icon-btn-inner {
            clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
            background-color: var(--light);

            /* FIXME: make responsive */
            width: 90px;
            height: 85px;
            padding: 2px;
            margin: auto;
            position: relative;

            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;

            transition: all ease-in-out 300ms;

            &::before {
                content: '';
                display: block;
                position: absolute;
                transition: all ease-in-out 300ms;

                clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
                background-color: var(--secondary-darker-40);

                /* FIXME: make responsive */
                width: 90px;
                height: 85px;

                /* top: 4px;
                right: 4px; */
            }

            & > * {
                z-index: 4;
            }

            .img-holder {
                /* background */
                img {
                    width: 42px;
                    height: 42px;
                }
            }


        }
    }
}

/* ////// */

/* Hero */
.hero {
    .hero-inner {
        /* FIXME: will need to account for nav bar later */
        min-height: 100vh; 

        padding: 0 60px;

        @media all and (width <= 800px) {
            padding: 0 20px;
        }

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;

        .text {
            text-align: center;
            color: var(--light);

            display: flex;
            flex-direction: column;
            gap: 15px;
        }

        .logo-holder {
            /* flex: 1 1 605px; */

            img {
                @media (width <= 800px) {
                    max-width: 350px;
                }
            }
        }
    }
}

/* ////// */

/* Media with Copy */
.media-with-copy {
    .mwc-inner {
        /* padding: 20px 0; */
        
        display: flex;
        align-items: stretch;
        gap: 6.3vw;

        @media all and (width <= 800px) {
            flex-direction: column;
            gap: 0px;
        }

        .text-side {
            flex: 2 2 818px;

            padding: 100px 0 100px 60px;

            @media all and (width <= 800px) {
                flex: 1;
                padding: 80px 20px 0px 20px;
            }

            h2 {
                color: var(--primary);
                margin-bottom: 30px;
            }

            .body > p {
                margin-bottom: 10px;
            }

            .subsections {
                margin-top: 50px;

                .section {
                    &:not(:last-of-type) {
                        padding-bottom: 30px;
                        margin-bottom: 30px;
                        border-bottom: 2px solid var(--secondary-darker-40);
                    }

                    h6 {
                        color: var(--primary-darker-20);
                        text-transform: uppercase;
                        margin-bottom: 15px;
                    }
                }
            }
        }

        .img-side {
            position: relative;
            flex: 1 1 622px;
            overflow: hidden;

            @media all and (width <= 800px) {
                flex: 1;

                max-height: 391px;
            }
            
            .overlay {
                position: absolute;
                top: 0;

                opacity: 15%;
                background-color: #F16425;

                width: 100%;
                height: 100%;
            }

            img {
                object-fit: cover;
                object-position: center;

                /* aspect-ratio: 1 / 1; */
                width: 100%;
                height: 100%;

                @media all and (width <= 800px) {
                    /* max-height: 391px; */
                }
            }
        }
    }
}

/* ////// */

/* Hex Icon */

.hex-icon {
    width: 80px;
    height: 95px;

    /* background-size: contain;
    background-repeat: no-repeat;
    background-position: center; */

    display: flex;
    align-items: center;
    justify-content: center;

    /* clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%); */
    /* background-color: var(--light); */
    /* border: 2px solid black; */

    .hex-icon-inner {
        /* clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%); */
        /* background-color: var(--primary); */

        width: 76px;
        height: 91px;

        img {
            object-fit: contain;
            object-position: center;
            width: 100%;
            height: 100%;
        }

        /* display: flex;
        align-items: center;
        justify-content: center; */
    }
}


/* ////// */

/* Card */

.card {
    display: flex;
    flex-direction: column;
    align-items: center;

    .hex-icon {
        margin-bottom: -45px;
    }

    .card-inner {
        padding: 80px 30px;
        background: rgba(147, 144, 146, 0.10);

        h4 {
            color: var(--primary);
            margin-bottom: 15px;
        }
    }
}

/* ////// */

/* Hexagon */

.hexagon {
    position: absolute;

    z-index: 3;

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

/* ////// */

/* Hexagon button*/
.hexagon-btn {

    &:nth-child(even) {
        transform: translateY(60%) translateX(-10%);
    }

    &:nth-child(odd) {
        transform: translateX(10%);
    }

    @media all and (width <= 800px) {
        margin: 0 !important;
    }

    .hex-btn-wrapper {
        position: relative;
        /* width: var(--hex-size); */
        aspect-ratio: 1 / var(--hex-ratio);

        clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);



        display: block;
        /* FIXME: make responsive */
        /* width: 400px; */
        /* aspect-ratio: 400 / 320; */
        
        overflow: hidden;
        position: relative;

        @media all and (width <= 800px) {
            width: auto;
        }

        .arrow {
            /* FIXME: make responsive */
            width: 19px;
            height: 19px;
            position: absolute;
            top: 20px;
            right: calc(25% + 15px);
            z-index: 3;

            transform: scale(1);
            transition: scale 0.3s ease-in-out, background-image 0.3s ease-in-out;

            @media all and (width <= 800px) {

                transform: scale(1.25);
            }
        }

        &:hover {
            .arrow {
                transform: scale(1.25);
            }

            .hover-state-wrapper {
                clip-path: inset(0 0 0 0);
            }
        }

        .hover-state-wrapper {
            position: absolute;
            top: 0;

            width: 100%;
            height: 100%;

            display: flex;
            align-items: flex-end;

            clip-path: inset(calc(100% - 15px) 0 0 0);
            transition: clip-path 0.3s ease-in-out;
            will-change: transform;

            @media all and (width <= 800px) {
                position: relative;
                clip-path: inset(0 0 0 0);
            }

            .text {
                h5 {
                    color: #fff;
                    /* color: var(--light);  */
                }

                p {
                    /* color: var(--secondary-darker-40); */
                    color: var(--light);
                    font-family: Montserrat;
                    /* FIXME: update font size */
                    font-size: 1.042vw;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;

                    @media all and (width <= 800px) {
                        font-size: 15px;
                    }
                }
            }

            img.hover-icon {
                position: absolute;
                right: 8%;
                top: 55%;
                
                width: 11.458vw;
                transform: rotate(40.46deg);
            }
        }

        .hex-btn-inner {
            background-color: var(--light);
    
            /* FIXME: make responsive */
            /* width: 380px;
            height: 320px; */

            width: 100%;
            height: 100%;

            &.hover {
                background-color: var(--primary-lighter-20);
            }
    
            &.default {
                @media all and (width <= 800px) {
                    display: none;
                }
            }

            &.hover {
                @media all and (width <= 800px) {
                    width: 100%;
                    /* width: 64.103vw; */
                    /* height: 76.923vw; */
                    aspect-ratio: 250.00 / 297.30;
                }
            }
            .text {
                height: 100%;
                /* padding: 0 56px; */
                padding: 0px 15%;
    
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                gap: 10px;
    
                img {
                    width: 5.556vw;
                }

                h5 {
                    font-size: 2.153vw;
                }
                
            }
        }
    }
    
}